discord.py==1.5.0
ksoftapi==0.2.4a
pyfiglet==0.8.post1
psutil==5.7.2
validators==0.18.1
motor==2.3.0
dnspython==2.0.0
pytz==2020.1
beautifulsoup4==4.9.2
dblpy==0.4.0
jishaku==1.19.1.200
emoji==0.6.0
zuraaa-vote-checker==0.1.2
