discord.py
pyfiglet
psutil
validators
motor
dnspython
pytz
requests
beautifulsoup4
-e git://github.com/DiscoMusic/genius-wrapper.git#egg=genius
-e git://github.com/uKaigo/discord-ext-menus.git#egg=discord-ext-menus
-e git://github.com/uKaigo/frankerfacez.git#egg=frankerfacez