discord.py==1.3.4
pyfiglet
psutil
validators
motor
dnspython
pytz
beautifulsoup4
dblpy
jishaku
emoji
-e git://github.com/DiscoMusic/genius-wrapper.git#egg=genius-wrapper
-e git://github.com/uKaigo/frankerfacez.git#egg=frankerfacez